$primary:       #78C2AD;
$secondary:     #F3969A;
$success:       #56CC9D;
$info:          #6CC3D5;
$warning:       #FFCE67;
$danger:        #FF7851;
$light:         #f8f9fa;
$dark:          #343a40;

@media (max-width: 767px) {
    #card1 {
        margin-bottom: 30px;
    }
}

@media (max-width: 991px) {
    #card3 {
        margin-bottom: 30px;
    }

    .no-view {
        display: none;
    }
}


%containers {
    margin-top: 40px;
    margin-bottom: 40px;
}

#main-page {
    @extend %containers;

    .row {
        margin-bottom: 40px;
    }
}

#todo {
    @extend %containers;

    input {
        text-align:right;
    }
}

#ps {
    @extend %containers;
}
.card {
    height: auto;

    .card-body:hover
    {
        background-color: $secondary;
    }
    li:hover {
        background-color: $secondary;
    }
}

code {
    color: $danger;
    background-color: $light;
}